
.chitietsanpham{
    width: 100%;
}
.img-chitiet{
    width: 50%;
    float: left;
    margin-left: -15px;
}
.title-chitiet span{
    color: #666666B3;
}
.title-chitiet{
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 20px;
}
.title-chitiet span:hover{
    color: black;
}
hr{
    border: 1.5px solid gainsboro;
    width: 50px;
    margin-left: 0px;
}
.title-chitiet p{
    color: #6ABD42;
    font-weight: 600;
    font-size: 24px;
}
.title-chitiet u{
    font-size: 20px;
}
.quantity-input {
    display: flex;
    align-items: center;
}

.quantity-btn {
    cursor: pointer;
    padding: 5px 10px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu khi hover */
}

.quantity-btn:hover {
    background-color: #ddd; /* Màu tối hơn khi hover */
}
#soluong {
    width: 50px; /* Điều chỉnh chiều dài của input */
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
}

/* Ẩn mũi tên tăng/giảm mặc định của input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
.submit-btn {
    padding: 5px 15px;
    width: 160px;
    height: 40px;
    background-color: #D26E4B; /* Màu đỏ */
    color: #fff; /* Màu văn bản trắng */
    border: 1px solid #fff; /* Viền trắng */
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
}
.submit-btn:hover {
    background-color: #cc0000; /* Màu đỏ tối hơn khi hover */
}
hr.separator {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #ccc;
    box-shadow: 0 0 15px #757575(33,33,33,.2);
    margin: 0;
}
.mo_ta_san_pham{
    padding-top: 20px;
    clear: both;
    text-align: left
}
h1{
    padding-top: 20px;
    margin: auto;
}
.mo_ta_san_pham p{
    font-size: 22px;
}
.mo_ta_san_pham img{
    margin-left: 270px;
}
#product{
    display: inline;
    position: relative;
}
#product-list{
    width: 100%;
    margin-top: 30px;
}
#product-list .products-list-item{
    width: 250px;
    padding: 10px;
    float: left;
}
#product-list button{
    width: 140px;
    padding-top: 7px;
}
.menu-bar-body{
    width: 30%;
    text-align: left;
}
.menu-bar-body-title{
    background-color: #6ABD42;
    color: white;
    height: 60px;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px 0;
    border-bottom: 1.5px solid green;
}
.menu-bar-body-item{
    background-color: white;
    color: #000;
    padding: 5px 5px 5px 20px;
    align-items: center;
    font-weight: 600;
}
.menu-bar-body-item img{
    width: 60px;
    height: auto;
}
.product-img{
    width: 70px;
    float: left;
}
.product-title{
    float: left;
    padding-top: 2px;
}
.min-height{
    min-height: 70px;
    font-weight: 600;
}
.product-title p{
    color: #6ABD42;
}
.menu-bar-body-item:hover,
.menu-bar-body-item:hover p{
    background-color: #6ABD42;
    color: white;
    cursor: pointer;
}
.chan{
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
}
.le{
    background-color:  white;
    border: 1px solid #f8f8f8;
}
.menu-list{
    width: 75%;
    height: 1150px;
}
.products-list-item-img{
    overflow: hidden;
    width: 300px; /* Đặt kích thước cố định của vùng chứa */
    height: 200px;
}
.products-list-item-img img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products-list-item-img img:hover{
    transition: 1s;
    transform: scale(1.2);
}
.hinhchinh{
    width: 600px;
}

.slideshow {
    display: flex;
    overflow-x: auto;
    float: right;
    padding-right: 5px;
}

.slide {
    flex: 0 0 auto;
    margin-right: 10px;
}

.slide img {
    width: 142px; /* Điều chỉnh kích thước của ảnh nhỏ */
    height: auto;
}
.slideshow {
    position: relative;
    display: flex;
    align-items: center;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
