.banner-item{
    background-image: url(../img/blogs/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    height: 160px;
    font-family: "Muli", sans-serif;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    h2{
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 600;
    }
}
.d-flex{
    display: flex;
}

.contact-from{
    width: 49%;
    .contact-infor{
        img{
            width: 133px;
            height: 107px;
            margin-right: 5%;
        }
        margin-bottom: 20px;
    }
}
.contact-content{
    display: flex;
    justify-content: space-between;
    form {
            width: 100%;
            margin: auto;
            font-size: 20px;
          }
    input[type=text], input[type=password] {  
        padding: 12px 20px;
        width: 45%;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
    button:hover {
        opacity: 0.8;
    }
    #submit-button{
        width: 250px;
        font-weight: bold;
        background-color: #6ABD42 ;
    }
    
    .form-group-title {
        text-align: center;
        margin: 0 0 12px 0;
    }
    
    .form-group {
        padding: 16px 0;
        line-height: 20px;
        text-align: right;
    }
    .form-group-item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    label{
        display: block;
    }
    #note{
        vertical-align: top;
        height: 150px;
    }
    textarea{
        width: 100%;
        min-height: 170px;
        padding: 12px 20px;
        font-size: 15px;
    }
    nav{
        list-style: none;
        ul{
            list-style: none;
            padding: 0;
        }
        li{
            line-height: 2;
        }
        i{
            margin-right: 10px;
        }
        a{
            text-decoration: none;
            color: #1C1C1C;
            font-size: 16px;
            font-family: sans-serif;
        }
        a:hover{
            color: #6ABD42;
        }
    }
}



  

