@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
$title-color: #1c1c1c;
a{
    text-decoration: none;
}
.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;

}
.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #666666D9;
    margin-bottom: 15px;
    a{
        color: #666666D9;
        font-size: 14px;
    }
    a:hover{
        color: black;
    }
    .separator {
        height: 20px;
        border-left: 1px solid #ccc;
        margin: 0 10px 0 5px;
    }
    .header-contact{
        i{
            margin-right: 5px;
        }
    }
    .header-auth{
        display: flex;
        a{
            padding-top: 2px;
            display: flex;
        }
        #user-info {
            display: flex;
            margin-left: 10px; /* Add some margin for spacing */
            #user-avatar{
                width: 20px; 
                height: 20px; 
                border-radius: 50%;
                margin-right: 10px;
            }
            #user-name{
                padding-top: 2px;
                color: #666666D9;
                font-size: 14px;
            }
        }
        .separator {
            height: 18px;
            border-left: 1px solid #ccc;
            margin: 0 10px 0 10px;
        }
        i{
            margin-left: 5px;
        }
    }
}
.header-main{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff; 
    opacity: 0.9;
    .logo{
        width: 250px;
        height: 50px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .navigation{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            li{
                margin-left: 20px;
                padding: 15px;
                border-radius: 5px;
                a{
                    color: #666666D9;
                    font-size: 16px;
                }
            }
            li:hover{
                background-color: #6ABD45;
                a{
                    color: white;
                }
            }
        }
    }
    .search{
        display: flex;
        align-items: center;
        position: relative;
        input{
            padding: 8px 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            width: 160px;
            background-color: rgba(0, 0, 0, 0.03);
        }
        input:focus{
            outline: none;
        }
        i{
            border: none;
            color: black;
            margin-left: 10px;
            position: absolute;
            right: 15px;
            cursor: pointer;
        }
    }
}
.hero{
    .hero-content{
        background: url('../img/banner.jpg') no-repeat center center;
        background-size: cover;
        color: white;
        text-align: center;
        padding: 250px 20px 150px 20px;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: lighter;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        span{
            font-size: 50px;
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        }
        button{
            border-radius: 10px;
            padding: 17px 20px;
            background-color: #6ABD45;
            margin-top: 20px;
            border: none;
            cursor: pointer;
            text-decoration: none;
            a{
                text-decoration: none;
                color: white;
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    .modal-content {
        background-color: white;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%; 
        max-width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: fadeIn 0.5s;
    .close-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close-btn:hover,
    .close-btn:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Form Styles */
    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }
    }
}
.product-categories{
    text-align: center;
    padding-top: 50px;
    h2{
        font-size: 27px;
        margin-bottom: 50px;
        color: $title-color;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500; 
    }
    .categories{
        display: flex;
        justify-content: space-between;
        p{
            margin-top: 20px;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
            font-weight: bold;
        }
        a:hover{
            color: #6ABD45;
        }
    }
}
.promotion-categories{
    text-align: center;
    padding-top: 50px;
    h2{
        font-size: 27px;
        margin-bottom: 50px;
        color: $title-color;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    .categories{
        display: flex;
        justify-content: space-between;
        .category{
            overflow: hidden;
            width: 24%;
            height: 200px;
            img{
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            img:hover{
                transition: 1s;
                transform: scale(1.1);
            }
        }
    }
}
.featured-products{
    text-align: center;
    padding-top: 50px;
    h2{
        font-size: 27px;
        margin-bottom: 50px;
        color: $title-color;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    .product-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .product{
            width: 15%;
            overflow: hidden;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            .product-img{
                width: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    overflow: hidden;
                    transition: 0.3s ease-in-out;
                }
            }
            .product-content{
                border: 1px solid #ccc;
                margin-top: -5px;
                padding: 0 12px;
                h3{
                    font-size: 15px;
                    margin: 10px 0;
                }
                p{
                    color: #6ABD45;
                    font-size: 16px;
                    margin: 12px 0;
                }
                button{
                    background-color: #6ABD42;
                    color: white;
                    border: none;
                    padding: 10px 20px;
                    margin-bottom: 30px;
                }
                button:hover{
                    background-color: #499e38;
                }
            }
        }
        .product:hover{
            transform: translateY(-10px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
            img{
                transform: scale(1.1);
            }
        }
    }
    .see-more{
        background-color: #6ABD42;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
    }
}

.blogs{
    text-align: center;
    padding-top: 50px;
    h2{
        font-size: 27px;
        margin-bottom: 50px;
        color: $title-color;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    .blog-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .blog-item{
            width: 24%;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
                overflow: hidden;
                transition: transform 1s ease-in-out;
            }
            .blog-content{
                text-align: left;
                h3{
                    font-size: 16px;
                    margin: 10px 0;
                }
                p{
                    color: #353535;
                    padding-top: 8px;
                    font-size: 15px;
                }
            }
        }
        .blog-item:hover{
            img{
                transform: scale(1.1);
            }
            h3{
                color: #6ABD45;
            }
        }
    }
}
.customer-testimonials{
    background: url('../img/background-image.jpg');
    padding: 40px 0 50px 0; 
    margin-top: 40px;
    .container{
        text-align: center;
        h2{
            font-size: 27px;
            margin: 50px 0;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}
footer{
    background-color: #252932;
    margin-top: 50px;
    padding: 50px 0;
    .container{
        display: flex;
        justify-content: space-between;
    }
    .footer-item{
        text-align: left;
        h2{
            font-size: 20px;
            color: white;
            margin: 15px 0 20px 0;  
            text-transform: uppercase;    
            font-weight: 500; 
        }
        p{
            color: #A4A4A4;
            font-size: 15px;
            line-height: 1.3;
        }
        ul{
            list-style: none;
            li{
                margin: 10px 0;
                color: #A4A4A4;
                font-size: 14px;
                line-height: 1.3;
                a{
                    color: #A4A4A4;
                    font-size: 14px;
                }
            }
            li:hover{
                a{
                    color: #6ABD45;
                }
            }
        }
        input{
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            margin: 10px 0 20px 0;
        }
        i{
            color: #A4A4A4;
            font-size: 20px;
            margin-right: 10px;
        }
    }
    .item1{
        width: 25%;
    }
    .item2{
        width: 15%;
        padding: 0 20px;
    }
    .logo{
        width: 250px;
        height: 50px;
        img{
            width: 100%;
            height: auto;
        }
    }
    address{
       i{
           margin-right: 10px;
       }
    }
}

