@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
}
.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;

}
.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #666666D9;
    margin-bottom: 15px;
    a{
        color: #666666D9;
        font-size: 14px;
    }
    a:hover{
        color: black;
    }
    .separator {
        height: 20px;
        border-left: 1px solid #ccc;
        margin: 0 10px 0 5px;
    }
    .header-contact{
        i{
            margin-right: 5px;
        }
    }
    .header-auth{
        display: flex;
        a{
            padding-top: 2px;
            display: flex;
        }
        #user-info {
            display: flex;
            margin-left: 10px; /* Add some margin for spacing */
            #user-avatar{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-right: 10px;
            }
            #user-name{
                padding-top: 2px;
                color: #666666D9;
                font-size: 14px;
            }
        }
        .separator {
            height: 18px;
            border-left: 1px solid #ccc;
            margin: 0 10px 0 10px;
        }
        i{
            margin-left: 5px;
        }
    }
}
#header-menu-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff; /* Đặt màu nền nếu cần thiết */
    opacity: 0.9;
}
.header-main{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    .logo{
        width: 250px;
        height: 50px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .navigation{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            li{
                margin-left: 20px;
                padding: 15px;
                border-radius: 5px;
                a{
                    color: #666666D9;
                    font-size: 16px;
                }
            }
            li:hover{
                background-color: #6ABD45;
                a{
                    color: white;
                }
            }
        }
    }
    .navigation li.active{
        background-color: #6ABD45;
        a{
            color: white;
        }
    }
    .search{
        display: flex;
        align-items: center;
        position: relative;
        input{
            padding: 8px 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            width: 160px;
            background-color: rgba(0, 0, 0, 0.03);
        }
        input:focus{
            outline: none;
        }
        i{
            border: none;
            color: #666666D9;
            margin-left: 10px;
            position: absolute;
            right: 15px;
            cursor: pointer;
        }
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .modal-content {
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: fadeIn 0.5s;
    .close-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close-btn:hover,
    .close-btn:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Form Styles */
    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }
    }
}
.mobile-navigation{
    display: none;
}
footer{
    background-color: #252932;
    margin-top: 50px;
    padding: 50px 0;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-item{
        text-align: left;
        h2{
            font-size: 20px;
            color: white;
            margin: 15px 0 20px 0;
            text-transform: uppercase;
            font-weight: 500;
        }
        p{
            color: #A4A4A4;
            font-size: 15px;
            line-height: 1.3;
        }
        ul{
            list-style: none;
            li{
                margin: 10px 0;
                color: #A4A4A4;
                font-size: 14px;
                line-height: 1.3;
                a{
                    color: #A4A4A4;
                    font-size: 14px;
                }
            }
            li:hover{
                a{
                    color: #6ABD45;
                }
            }
        }
        input{
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            margin: 10px 0 20px 0;
        }
        i{
            color: #A4A4A4;
            font-size: 20px;
            margin-right: 10px;
        }
    }
    .item1{
        width: 25%;
    }
    .item2{
        width: 15%;
        padding: 0 20px;
    }
    .item3{
        width: 25%;
        input{
            width: 100%;
        }
    }
    .logo{
        width: 250px;
        height: 50px;
        img{
            width: 100%;
            height: auto;
        }
    }
    address{
       i{
           margin-right: 10px;
       }
    }
}